<section>
  <div class="page-header">
    <h1>{{vm.patient._id ? 'Edit Patient' : 'New Patient'}}</h1>
  </div>
  <div class="col-md-12">

    <form name="vm.form.patientForm" class="form-horizontal" ng-submit="vm.save(vm.form.patientForm.$valid)" novalidate>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.patient.name" id="name" placeholder="Patient Name" required>
                <div ng-messages="vm.form.patientForm.name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Patient name is required.</p>
                </div>        
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10">                
                <div class="radio">
                    <label class="radio-inline" for="gender_male">
                      <input type="radio" name="gender" ng-model="vm.patient.gender" id="gender_male" ng-checked="vm.patient.gender === 'M'" value="M"> Male
                    </label>
                    <label class="radio-inline" for="gender_female">
                      <input type="radio" name="gender" ng-model="vm.patient.gender" id="gender_female" ng-checked="vm.patient.gender === 'F'" value="F"> Female
                    </label>
                </div>
                <div ng-messages="vm.form.patientForm.gender.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Gender is required.</p>
                </div>        
            </div>
        </div>
        <div class="form-group">
            <label for="place_of_birth" class="col-sm-2 control-label">Place of Birth</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.patient.place_of_birth" id="place_of_birth" placeholder="Place of Birth">
                <div ng-messages="vm.form.patientForm.place_of_birth.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">{{vm.form.patientForm.place_of_birth.$error}}</p>
                </div>        
            </div>
        </div>
        <div class="form-group">
            <label for="date_of_birth" class="col-sm-2 control-label">Date of Birth</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" ng-model="vm.patient.date_of_birth" id="date_of_birth" placeholder="Date of Birth">
                <div ng-messages="vm.form.patientForm.date_of_birth.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">{{vm.form.patientForm.date_of_birth.$error}}</p>
                </div>        
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.patient.phone" id="phone" placeholder="Phone">
                <div ng-messages="vm.form.patientForm.phone.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">{{vm.form.patientForm.phone.$error}}</p>
                </div>        
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
                <textarea class="form-control" ng-model="vm.patient.address" id="address" placeholder="Address"></textarea>                
                <div ng-messages="vm.form.patientForm.address.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">{{vm.form.patientForm.address.$error}}</p>
                </div>        
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a data-ui-sref="patients.list" class="btn btn-default">Back</a>

                <button type="submit" class="btn btn-primary">{{vm.patient._id ? 'Update' : 'Create'}}</button>

                <a class="btn btn-danger pull-right" ng-click="vm.remove()">
                <i class="glyphicon glyphicon-trash"></i>
              </a>

            </div>
        </div>
    </form>

    <!-- <form name="vm.form.patientForm" class="form-horizontal" ng-submit="vm.save(vm.form.patientForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.patient.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.patientForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Patient name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <a data-ui-sref="patients.list" class="btn btn-default">Back</a>
          <button type="submit" class="btn btn-primary">{{vm.patient._id ? 'Update' : 'Create'}}</button>

          <a class="btn btn-danger pull-right" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>

        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form> -->
  </div>
</section>
