<section>
  <div class="page-header">
    <h1>Patients
      <a class="btn btn-primary pull-right" data-ui-sref="patients.create">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
    </h1>
  </div>

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>No</th>
        <th>Patient No.</th>
        <th>Name</th>
        <th>Created</th>
        <th>Created by</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="patient in vm.patients">
        <td>{{$index + 1}}</td>
        <td>{{patient.no}}</td>
        <td>{{patient.name}}</td>
        <td>{{patient.created | date:'mediumDate'}}</td>
        <td>{{patient.user.displayName}}</td>
        <td>
          <a ui-sref="patients.view({ patientId: patient._id })"><i class="glyphicon glyphicon-search"></i></a>&nbsp;&nbsp;
          <a ui-sref="patients.edit({ patientId: patient._id })"><i class="glyphicon glyphicon-edit"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="list-group">
    <a ng-repeat="patient in vm.patients"
       ui-sref="patients.edit({ patientId: patient._id })"
       class="list-group-item">
      <div>Patient No: {{patient.no}}
        <small style="float: right;" class="list-group-item-text">
        Posted on
        <span ng-bind="patient.created | date:'mediumDate'"></span>
        by
        <span ng-if="patient.user" ng-bind="patient.user.displayName"></span>
        <span ng-if="!patient.user">Deleted User</span>
      </small>
      </div>
      
      <h4 class="list-group-item-heading" ng-bind="patient.name"></h4>
    </a>
  </div> -->
  <div class="alert alert-warning text-center" ng-if="vm.patients.$resolved && !vm.patients.length">
    No Patients yet, why don't you <a ui-sref="patients.create">create one</a>?
  </div>
</section>
