<section>
  <div class="page-header">
    <h1>
    {{vm.patient.name}}
      <div class="pull-right">
        <a data-ui-sref="patients.list" class="btn btn-default">Back</a>
        <a ng-show="vm.patient.isCurrentUserOwner" class="btn btn-primary"
           ui-sref="patients.edit({ patientId: vm.patient._id })">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a ng-show="vm.patient.isCurrentUserOwner" class="btn btn-danger" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>

    </h1>

  </div>


  <form class="form-horizontal">

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Patient No.</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{vm.patient.no}}</p>           
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">     
            <p class="form-control-static">{{(vm.patient.gender === 'M')?'Male':'Female'}}</p>            
           
        </div>
    </div>
    <div class="form-group">
        <label for="place_of_birth" class="col-sm-2 control-label">Place of Birth</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{vm.patient.place_of_birth}}</p>            
        </div>
    </div>
    <div class="form-group">
        <label for="date_of_birth" class="col-sm-2 control-label">Date of Birth</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{vm.patient.date_of_birth | date:'mediumDate' }}</p>         
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{vm.patient.phone}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{vm.patient.address}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <small>
              <em class="text-muted">
                Posted on
                <span ng-bind="vm.patient.created | date:'mediumDate'"></span>
                by
                <span ng-if="vm.patient.user"
                      ng-bind="vm.patient.user.displayName"></span>
                <span ng-if="!vm.patient.user">Deleted User</span>
              </em>
            </small>
                 
        </div>
    </div>
  </form>

  <div style="height: 50px"></div>
  
  <!-- <p class="lead" ng-bind="vm.patient.content"></p> -->
</section>
