<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/eclinic-logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Simple Full-Stack Solution For Medical Record with MEAN.js
      </p>
    </div>
  </div>
  <div>
    <h2>Thank You! You can test this sample application using the following Login Users:</h2>

    <p style="margin-top: 20px; font-weight: bold;">Admin</p>
    <div class="font-monospace">Username: admintesting</div>
    <div class="font-monospace">Password: Admin@2017</div>

    <p style="margin-top: 20px; font-weight: bold;">Doctor</p>
    <div class="font-monospace">Username: doctor</div>
    <div class="font-monospace">Password: Doctor@2017</div>

    <p style="margin-top: 20px; font-weight: bold;">User/Patient</p>
    <div class="font-monospace">Username: patient</div>
    <div class="font-monospace">Password: Patient@2017</div>

  </div>

  <div class="footer">
    <p>Copyright &copy; 2017 by The eClinic Team.</p>
  </div>
</section>
