<section>
  <div class="page-header">
    <h1>{{vm.doctor._id ? 'Edit Doctor' : 'New Doctor'}}</h1>
  </div>
  <div class="col-md-12">

    <form name="vm.form.doctorForm" class="form-horizontal" ng-submit="vm.save(vm.form.doctorForm.$valid)" novalidate>

        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.doctor.name" id="name" placeholder="Doctor Name" required>
                <div ng-messages="vm.form.doctorForm.name.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Patient name is required.</p>
                </div>        
            </div>
        </div>
        <div class="form-group">
            <label for="specialty" class="col-sm-2 control-label">Specialty</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.doctor.specialty" id="specialty" placeholder="Specialty" required>
                <div ng-messages="vm.form.doctorForm.specialty.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">specialty is required.</p>
                </div>        
            </div>
        </div>
        <div class="form-group">
            <label for="user_doctor" class="col-sm-2 control-label">User</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="vm.doctor.user_doctor._id" id="user_doctor">
                  <option value=""></option>
                  <option value="{{user._id}}" ng-repeat="user in vm.users">{{user.username + ' (' + user.email + ')' }}</option>
                </select>
               <!--  <input type="text" class="form-control" ng-model="vm.doctor.user_doctor" id="user_doctor" placeholder="Specialty" required> -->
                <div ng-messages="vm.form.doctorForm.user_doctor.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">user_doctor is required.</p>
                </div>        
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a data-ui-sref="doctors.list" class="btn btn-default">Back</a>

                <button type="submit" class="btn btn-primary">{{vm.doctor._id ? 'Update' : 'Create'}}</button>

                <a ng-if="vm.doctor._id" class="btn btn-danger pull-right" ng-click="vm.remove()">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>

            </div>
        </div>
    </form>

    <!-- <form name="vm.form.doctorForm" class="form-horizontal" ng-submit="vm.save(vm.form.doctorForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.doctor.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.doctorForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Doctor name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.doctor._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form> -->
  </div>
</section>
