<section>
  <div class="page-header">
    <h1>Doctors
    <a class="btn btn-primary pull-right" data-ui-sref="doctors.create">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
    </h1>
  </div>

  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>No</th>
        <th>ID</th>
        <th>Name</th>
        <th>Specialty</th>
        <th>User</th>
        <th>Created</th>
        <th>Created by</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="doctor in vm.doctors">
        <td>{{$index + 1}}</td>
        <td>{{doctor.no}}</td>
        <td>{{doctor.name}}</td>
        <td>{{doctor.specialty}}</td>
        <td>{{doctor.user_doctor.displayName}}</td>
        <td>{{doctor.created | date:'mediumDate'}}</td>
        <td>{{doctor.user.displayName}}</td>
        <td>
          <a ui-sref="doctors.view({ doctorId: doctor._id })"><i class="glyphicon glyphicon-search"></i></a>&nbsp;&nbsp;
          <a ui-sref="doctors.edit({ doctorId: doctor._id })"><i class="glyphicon glyphicon-edit"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="list-group">
    <a ng-repeat="doctor in vm.doctors"
       ui-sref="doctors.view({ doctorId: doctor._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="doctor.created | date:'mediumDate'"></span>
        by
        <span ng-if="doctor.user" ng-bind="doctor.user.displayName"></span>
        <span ng-if="!doctor.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="doctor.name"></h4>
    </a>
  </div> -->
  <div class="alert alert-warning text-center" ng-if="vm.doctors.$resolved && !vm.doctors.length">
    No Doctors yet, why don't you <a ui-sref="doctors.create">create one</a>?
  </div>
</section>
