<section>
  <div class="page-header">
    <h1>
      {{vm.doctor.name}}
      <div class="pull-right">
        <a data-ui-sref="doctors.list" class="btn btn-default">Back</a>
        <a ng-show="vm.doctor.isCurrentUserOwner" class="btn btn-primary"
           ui-sref="doctors.edit({ doctorId: vm.doctor._id })">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a ng-show="vm.doctor.isCurrentUserOwner" class="btn btn-danger" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    </h1>
  </div>  

  <form class="form-horizontal">

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{vm.doctor.name}}</p>     
            </div>
        </div>
        <div class="form-group">
            <label for="specialty" class="col-sm-2 control-label">Specialty</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{vm.doctor.specialty}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="user_doctor" class="col-sm-2 control-label">User</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{vm.doctor.user_doctor.displayName}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="user_doctor" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <small>
                <em class="text-muted">
                  Posted on
                  <span ng-bind="vm.doctor.created | date:'mediumDate'"></span>
                  by
                  <span ng-if="vm.doctor.user"
                        ng-bind="vm.doctor.user.displayName"></span>
                  <span ng-if="!vm.doctor.user">Deleted User</span>
                </em>
              </small>
            </div>
        </div>
    </form>

  <p class="lead" ng-bind="vm.doctor.content"></p>
</section>
