<section>
  <div class="page-header">
    <h1>{{vm.medical._id ? 'Edit Medical' : 'New Medical'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.medicalForm" class="form-horizontal" ng-submit="vm.save(vm.form.medicalForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group">
            <label for="patient" class="control-label">Patient</label>
            <select class="form-control" ng-model="vm.medical.patient._id" id="patient">
              <option value=""></option>
              <option value="{{patient._id}}" ng-repeat="patient in vm.patients">{{patient.name + ' (No. ' + patient.no + ')' }}</option>
            </select>
            <div ng-messages="vm.form.doctorForm.patient.$error" role="alert">
                <p class="help-block error-text" ng-message="required">patient is required.</p>
            </div>        
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="complined">Complined</label>
          <input name="complined" type="text" ng-model="vm.medical.complined" id="complined" class="form-control" placeholder="Complined" required>
          <div ng-messages="vm.form.medicalForm.complined.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Medical complined is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="diagnosis">Diagnosis</label>
          <textarea name="diagnosis" rows="7" ng-model="vm.medical.diagnosis" id="diagnosis" class="form-control" placeholder="Diagnosis" required></textarea>
          <div ng-messages="vm.form.medicalForm.diagnosis.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Medical diagnosis is required.</p>
          </div>
        </div>

        <div class="form-group">
          <a data-ui-sref="medicals.list" class="btn btn-default">Back</a>
          <button type="submit" class="btn btn-primary">{{vm.medical._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
