<section>
  <div class="page-header">
    <h1>Medicals
    <a class="btn btn-primary pull-right" data-ui-sref="medicals.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">

    <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>No</th>
        <th>ID No.</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Complined</th>
        <th>Diagnosis</th>
        <th>Created</th>
        <th>Created by</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="medical in vm.medicals">
        <td>{{$index + 1}}</td>
        <td>{{medical.no}}</td>
        <td>{{medical.patient.name}}</td>
        <td>{{medical.doctor.name}}</td>
        <td>{{medical.complined}}</td>
        <td>{{medical.diagnosis}}</td>
        <td>{{medical.created | date:'mediumDate'}}</td>
        <td>{{medical.user.displayName}}</td>
        <td>
          <a ui-sref="medicals.view({ medicalId: medical._id })"><i class="glyphicon glyphicon-search"></i></a>&nbsp;&nbsp;
          <a ui-sref="medicals.edit({ medicalId: medical._id })"><i class="glyphicon glyphicon-edit"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

    <!-- <a ng-repeat="medical in vm.medicals"
       ui-sref="medicals.view({ medicalId: medical._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="medical.created | date:'mediumDate'"></span>
        by
        <span ng-if="medical.user" ng-bind="medical.user.displayName"></span>
        <span ng-if="!medical.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="medical.diagnosis"></h4>
    </a> -->
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.medicals.$resolved && !vm.medicals.length">
    No Medicals yet, why don't you <a ui-sref="medicals.create">create one</a>?
  </div>
</section>
