<section>
  <div class="page-header">
    <h1>Medical Records: {{vm.medical.no}}

    <div class="pull-right">
      <a data-ui-sref="medicals.list" class="btn btn-default">Back</a>
      <a ng-show="vm.medical.isCurrentUserOwner" class="btn btn-primary"
         ui-sref="medicals.edit({ medicalId: vm.medical._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a ng-show="vm.medical.isCurrentUserOwner" class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  
    </h1>
  </div>
  
  <form class="form-horizontal">

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Patient</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{vm.medical.patient.name}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Doctor</label>
        <div class="col-sm-10">     
            <p class="form-control-static">{{vm.medical.doctor.name}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="complined" class="col-sm-2 control-label">Complined</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{vm.medical.complined}}</p>            
        </div>
    </div>
    <div class="form-group">
        <label for="diagnosis" class="col-sm-2 control-label">Diagnosis</label>
        <div class="col-sm-10">
            <p class="form-control-static" style="white-space: pre;">{{vm.medical.diagnosis}}</p>         
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <small>
              <em class="text-muted">
                Posted on
                <span ng-bind="vm.medical.created | date:'mediumDate'"></span>
                by
                <span ng-if="vm.medical.user"
                      ng-bind="vm.medical.user.displayName"></span>
                <span ng-if="!vm.medical.user">Deleted User</span>
              </em>
            </small>
                 
        </div>
    </div>
  </form>

  <div style="height: 50px"></div>

  <p class="lead" ng-bind="vm.medical.content"></p>
</section>
